
	<mat-toolbar class="fixed">
		<div class="flex ml-3 justify-center items-center space-x-6">
			<a
				routerLink="/Home"
				routerLinkActive="active"
				ariaCurrentWhenActive="page"
				class="font-bold text-xl"
				>Home</a
			>
			<a
				routerLink="/RegistrarReceita"
				routerLinkActive="active"
				ariaCurrentWhenActive="page"
				class="font-bold text-xl"
				>Registrar Receita</a
			>
			<a
				routerLink="/ListaReceita"
				routerLinkActive="active"
				ariaCurrentWhenActive="page"
				class="font-bold text-xl"
				>Lista de Receitas</a
			>
			<a
				routerLink="/Login"
				routerLinkActive="active"
				ariaCurrentWhenActive="page"
				class="font-bold text-xl"
				>Login</a
			>
			<a
				routerLink="/Register"
				routerLinkActive="active"
				ariaCurrentWhenActive="page"
				class="font-bold text-xl"
				>Register</a
			>
		</div>
	</mat-toolbar>
