<mat-toolbar class="fixed">
	<div class="flex ml-3 justify-center items-center space-x-6">
		<a
			routerLink="/Home"
			title="Home"
			routerLinkActive="active"
			ariaCurrentWhenActive="page"
			class="font-bold text-xl mt-2 scale-125 hover:scale-100 hover:text-gray-500"
			><mat-icon>home</mat-icon></a
		>
		<a
			routerLink="/RegistrarReceita"
			routerLinkActive="active"
			ariaCurrentWhenActive="page"
			class="font-bold text-xl hover:scale-105 hover:text-gray-500"
			>Registrar Receita</a
		>
		<a
			routerLink="/ListaReceita"
			routerLinkActive="active"
			ariaCurrentWhenActive="page"
			class="font-bold text-xl hover:scale-105 hover:text-gray-500"
			>Lista de Receitas</a
		>
		<a
			routerLink="/Login"
			routerLinkActive="active"
			ariaCurrentWhenActive="page"
			class="font-bold text-xl hover:scale-105 hover:text-gray-500"
			>Login</a
		>
	</div>
</mat-toolbar>
